*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

*.bak

.idea/**/contentModel.xml

.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml


*.iws

atlassian-ide-plugin.xml

*.py[cod]
*$py.class

.Python build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

.python-version
*.sage.py

.env
env/
ENV/
env.bak/

/sqlite3
.mypy_cache/

*.tmlanguage.mypy_cache*/tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

sftp-config.json

Control.last-run
Control.ca-list
Control.ca-bundle
Control.system-ca-bundle
GitHub.sublime-settings

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vascode/launch.json
!.vscode/extensions.json
.history